.btn-my {
  background-color: #fed136;
  border: 1px solid #fed136;
  border-radius: .1rem;
  font-family: "Arial-BoldMT";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.btn-my:hover, .btn-my:focus, .btn-my:active {
  background-color: #fed136;
  opacity: 0.9;
  border: none;
}

@media (min-width: 576px) {
  .btn-my {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .btn-my {
    width: fit-content;
    display: inline-block;
  }
}